<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.order.dal.mappers.OrderMapper">
    <resultMap id="BaseResult" type="com.example.order.dal.entities.Order">
        <id property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="userId" column="user_id"/>
        <result property="productCode" column="product_code"/>
        <result property="count" column="count"/>
        <result property="amount" column="amount"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, order_no, user_id, product_code, count, amount
    </sql>
    <insert id="createOrder" keyProperty="id" useGeneratedKeys="true" parameterType="com.example.order.dal.entities.Order">
        insert into tbl_order values (null, #{orderNo}, #{userId}, #{productCode}, #{count}, #{amount})
    </insert>
</mapper>